@model CourseServiceModel
@inject ITeacherService teacherService
@inject ICourseService courseService

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>City: <b>@Model.City</b></h6>
            <h6>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <br />
            <a asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@Model.Id"
            asp-route-information="@Model.GetInformation()"
               class="btn custom-button-course-color">Details</a>
            <a asp-action="AllForCourse" asp-controller="Review" asp-route-id="@Model.Id" class="btn custom-button-course-color">Reviews</a>
            @if((await courseService.CourseHasEndedAsync(Model.Id)) && (await courseService.StudentHasJoinedAsync(Model.Id, User.Id())))
            {
                <a asp-action="StudentResult" asp-controller="Result" asp-route-courseId="@Model.Id" asp-route-studentId="@User.Id()" class="btn custom-button-course-color">Result</a>
            }
           
            @if (this.User.Identity.IsAuthenticated)
            {
                if (await courseService.HasTeacherWithIdAsync(Model.Id, User.Id()))
                {
                        <a asp-area="" asp-controller="Course" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn custom-button-course-color">Edit</a>
                        <a asp-area="" asp-controller="Course" asp-action="Delete" asp-route-id="@Model.Id"
                         class="btn custom-button-course-color">Delete</a>
                    if(await courseService.CourseHasEndedAsync(Model.Id))
                    {
                        <a asp-area="" asp-controller="Result" asp-action="AllStudents" asp-route-id="@Model.Id"
                           class="btn custom-button-course-color">Results</a>
                    }

                }

                else
                {
                    if (User.IsAdmin())
                    {
                        <a asp-area="" asp-controller="Course" asp-action="Edit" asp-route-id="@Model.Id"
                           class="btn custom-button-course-color">Edit</a>
                        <a asp-area="" asp-controller="Course" asp-action="Delete" asp-route-id="@Model.Id"
            class="btn custom-button-course-color">Delete</a>
                    }

                    if(await courseService.CourseHasEndedAsync(Model.Id) == false)
                    {
                        if (await courseService.StudentHasJoinedAsync(Model.Id, User.Id()) == false)
                        {
                            <form style='display:inline;' class="input-group" asp-controller="Course" asp-area=""
                  asp-action="Join" asp-route-id="@Model.Id" method="post">
                                <input style='display:inline;' class="btn custom-button-course-color" type="submit" value="Join" />
                            </form>
                        }
                        else
                        {
                            <form style='display:inline;' class="input-group" asp-controller="Course" asp-area=""
                  asp-action="Leave" asp-route-id="@Model.Id" method="post">
                                <input style='display:inline;' class="btn custom-button-course-color" type="submit" value="Leave" />
                            </form>
                        }
                    }
                    
                } 
            }
        </div>
    </div>
</div>

