@model CourseDetailsServiceModel
@inject ITeacherService teacherService
@inject ICourseService courseService

@{
	ViewBag.Title = "Course Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style=" display: inline">
	<div class="row">
		<div class="card col-10 border-0" style="padding: 3rem;">
			<p style="font-size:25px;"><u>@Model.Name</u></p>
			<p>Location: <b>@Model.City</b></p>
			<p>
				Price:
				<b>@String.Format("{0:f2}", Model.Price) BGN</b>
			</p>
			<p>Description: <b>@Model.Description</b></p>
			<p>Category: <b>@Model.Category</b></p>
			<p>Start Date: <b>@Model.StartDate</b></p>
			<p>End Date: <b>@Model.EndDate</b></p>
			<p>Times per week: <b>@Model.Frequency</b></p>
			<div class="form-inline">
				
				@if (this.User.Identity.IsAuthenticated)
				{
					if (await courseService.HasTeacherWithIdAsync(Model.Id, User.Id()))
					{
							<a class="btn btn-warning" asp-controller="Course" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
							<a class="ml-2 btn btn-danger" asp-controller="Course" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>
					}

					else
					{
						if (User.IsAdmin())
						{
								<a class="btn btn-warning" asp-controller="Course" asp-action="Edit"
						   asp-route-id="@Model.Id">Edit</a>
								<a class="ml-2 btn btn-danger" asp-controller="Course" asp-action="Delete"
						   asp-route-id="@Model.Id">Delete</a>
						}
						if (await courseService.StudentHasJoinedAsync(Model.Id, User.Id()) == false)
						{
							<form class="input-group-sm" asp-controller="Course"
                    asp-action="Join" asp-route-id="@Model.Id" method="post">
								<input class="btn btn-primary" type="submit" value="Join" />
							</form>
						}
						else
						{
							<form class="input-group-sm" asp-controller="Course"
                    asp-action="Leave" asp-route-id="@Model.Id" method="post">
								<input class="btn btn-primary" type="submit" value="Leave" />
							</form>
						}
					}
				}
			</div>
			<p></p>
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Teacher Info</h5>
					<p class="card-text">Full Name: @Model.Teacher.FullName</p>
					<p class="card-text">Email: @Model.Teacher.Email</p>
					<p class="card-text">Phone Number: @Model.Teacher.PhoneNumber</p>
				</div>
			</div>
			<a asp-controller="Course" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Back to All Courses</a>
		</div>
	</div>
</div>



